.shop-details-main-box {
    width: 90%;
    margin: 10px auto;
    font-family: roboto, sans-serif;
}

.top-screen-box {
    display: flex;
    justify-content: space-between;
}

.shop-details-section {
    padding: 20px;
    text-align: start;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;

}

.shop-location-box {
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.map-container {
    
}

.map {
    position: absolute;
    right: 10px;
    max-width: 250px;
    max-height: 300px;

}

.shop-owner-img {
    width: 220px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}