.shop-details-main-box {
    width: 1140px;
    margin: 0 auto;
    font-family: roboto, sans-serif;
    background-color: #fff;
    padding: 0 20px;
}

.red-circle {
    bottom: -195px;
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
}

.shop-details-header {
    display: flex;
    justify-content: space-between;

    .shop-details-heading {
        margin: 0;
        padding: 20px 0;
    }

    .shop-rate-box {

        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        margin: 0 0 15px 0;


        .shop-rate-rating {

            color: #ffbf00;
            font-size: 14px;
            margin: 0;
            font-family: montserrat, sans-serif;
            border-radius: 50%;
            font-weight: 900;
            font-size: 1.2rem;
            margin-right: 2px;


        }

        .star-icon {
            color: #ffbf00;
            font-size: 1rem;
            margin: 0 5px 3px 0;
        }

        .shop-rate-count {
            font-size: 13px;
            margin: 18px 3px 0 0;
            color: rgb(192, 192, 192);
            font-size: 1rem;
        }
    }

}




.shop-details-img-box {
    display: grid;
    height: 50vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50%);
    grid-gap: 10px;
}

.shop-details-img-0 {
    border-radius: 15px 0 0 15px;
    width: 100%;
    height: 100%;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    object-fit: cover;

}

.shop-details-img-1 {
    width: 100%;
    height: 100%;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    object-fit: cover;
    border-radius: 0 15px 0 0;
    ;

}

.shop-details-img-2 {
    height: 100%;
    width: 100%;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    object-fit: cover;
    border-radius: 0 0 15px 0;

}

// .top-screen-box {
//     display: flex;
//     justify-content: center;
// }

.shop-details-section {
    text-align: start;
    margin-top: 25px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;

    .owner-details {
        display: flex;
    }

    .owner-contact {
        display: flex;
        flex-direction: column;
        margin-left: 25px;
    }

    .contact-box {
        display: flex;
        align-items: center;
        margin: 20px 0;

        p {
            margin: 0 0 0 10px;
        }

        .contact-icon {
            font-size: 1.3rem;
            color: #ffbf00;
        }
    }

    .phone-box {
        display: flex;
        align-items: center;
    }

    .email-box {
        display: flex;
        align-items: center;
    }

}

.shop-location-box {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;

}

.shop-description {
    font-family: roboto, sans-serif;
    line-height: 1.8;
    margin-top: 20px;
    padding: 20px 0;
    border-bottom: 1px solid rgb(223, 223, 223);
    border-top: 1px solid rgb(223, 223, 223);
    width: 50%;
}

.map-container {

    width: 350px;
    height: 300px;
    position: relative;

}

.map {
    max-width: 350px;
    max-height: 300px;
    position: absolute;

}

.arrow-icon {
    margin-top: 20px;
    font-size: 2.5rem;
}

.shop-location-name {
    width: 80%;
    text-align: center;
}

.location-and-orders-box {
    display: flex;
    flex-direction: column;
}

.shop-owner-img {
    margin-top: 20px;
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
}

.bottom-screen-box {
    display: flex;

}



.adoption-requests-heading {
    margin-top: 50px;
    margin-bottom: 0;
    text-align: center;
    font-size: 1.2rem;
    color: rgb(78, 78, 78);
    font-family: montserrat, sans-serif
}

.our-pets-heading {
    text-align: center;
    font-size: 2rem;
    color: rgb(78, 78, 78);
}

.reviews-box {
    flex-grow: 1;
}

.reviews-list {
    padding: 0;

    .review-text {
        color: rgb(32, 32, 32);
        font-size: 1.3rem;
    }
}

.review {
    margin: 30px 0;
    border-bottom: 1px solid rgb(228, 228, 228);
    width: 300px;

    p {
        color: rgb(107, 107, 107)
    }

}

.review-modal {
    height: 130px;
}

form {
    border-top: none;
}

.review-form {
    max-width: 20em;


    * {
        margin-bottom: 5px;
    }
}

.open-reviews-btn {
    margin-bottom: 10px;
    padding: 15px 15px;
    background-color: #ffbf00;
    cursor: pointer;
    border-radius: 15px;
    font-size: 1rem;
    color: #fafafa;
    border: none;

    &:focus {
        outline: none;
    }
}

.add-review-btn {
    padding: 10px 10px;
    background-color: #ffbf00;
    cursor: pointer;
    border-radius: 15px;
    font-size: 1rem;
    color: #fafafa;
    border: none;

    &:focus {
        outline: none;
    }
}

.chat-box {
    .chat-user-img {
        max-width: 70px;
        max-height: 70px;
        border-radius: 50%;
        cursor: pointer;
        border: solid 4px #ffbf00;

        &:hover {
            border: solid 5px $clr5;
        }
    }
}

.order-modal-button {

    cursor: pointer;
    color: rgb(233, 233, 233);
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(0, 172, 237);
    border: none;
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    margin-top: 50px;

    &:hover {
        box-shadow: inset 0px 0px 20px white
    }
}

@media (max-width: 376px) {
    .shop-details-main-box {
        width: 376px;
        margin: 0;
        font-family: roboto, sans-serif;
        background-color: #fff;
        padding: 0 20px;
    }

    .top-screen-box {
        flex-direction: column;
    }

    .shop-details-img-box {
        display: grid;
        height: 50vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 50%);
        grid-gap: 5px;
    }

    .shop-description {
        width: 100%;
    }

    .shop-details-img-0 {
        border-radius: 15px 0 0 15px;


        grid-column: 1 / 3;
        grid-row: 1 / 3;
        object-fit: cover;

    }

    .shop-details-img-1 {


        grid-column: 3 / 4;
        grid-row: 1 / 2;
        object-fit: cover;
        border-radius: 0 15px 0 0;
        ;

    }

    .shop-details-img-2 {


        grid-column: 3 / 4;
        grid-row: 2 / 3;
        object-fit: cover;
        border-radius: 0 0 15px 0;

    }

    .review-form {
        max-width: 100%;


        * {
            margin-bottom: 5px;
        }
    }
}