// Colors
$clr1: #F0F2F5;
$clr2: #FFFFFF;
$clr3: #00421A;
$clr4: #111010;
$clr5:#0183FF;
$clr6:#E4E6EB;
$clr7: #fdc161;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
// header height
$navHeight: 4.5rem;


//1DBF73
//