// Colors
$clr1: #1976D0;
$clr2: #2AA5A6;
$clr3: #84A966;
$clr4: #111010;
$clr6: #fff;
// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
// header height
$headerHeight: 4rem;