.category-list {
    display: flex;
    justify-content: space-between;
    img {
        object-fit: cover;
        flex-shrink: 1;
        width: 70px;
        height: 70px;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        padding: 5px;
        background-color: $clr2;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);

            // box-shadow: inset 0px -1px 10px -1px rgba(66, 67, 136, 0.6);
            transition: box-shadow 0.3s
        }
        &.pressed{
            filter: invert(100%);
            background-color: #003c98;
        }
    }


}