.chat-container {
    position: fixed;
    right: 80px;
    bottom: 0;
    width: 320px;
    height: 330px;
    z-index: 20;
    background-color: $clr2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0 6px 6px black;
    font-family: montserrat , sans-serif;


    .chat-title {
        position: absolute;
        width: 100%;
        height: 30px;
        top: 5px;
        font-weight: bold;
        box-shadow: 0 4px 2px -2px lightgray;
        line-height: 2rem;

        span {
            margin-left: 5px;
        }

        .btn {
            margin-right: 5px;
        }
    }

    .msgs-container {
        width: 100%;
        overflow-x: hidden;
        height: 25vh;
        margin-top: 40px;
        overflow-y: scroll;
        display: flex;
        flex-direction: column-reverse;
        grid-area: msgs-container;

        .message-row {
            width: 100%;
            position: relative;
            display: grid;
            margin-bottom: 10px;
            padding: 0 5px;
            grid-template-columns: 70%;

            // grid-template-columns:30px 15px 1fr 15px 30px;
            //     >* {
            //     grid-column: 4;
            //     }
            &.sender {
                justify-content: end;

                .message-content {
                    display: grid;
                    justify-items: end;

                    .txt {
                        font-size: 1rem;
                        background-color: $clr5;
                        border-radius: 14px 14px 0 14px;
                        padding: 9px 14px;
                    }
                }
            }

            &.recipient {
                justify-items: start;
                grid-template-columns: 35px 1fr;
                grid-column-gap: 3px;

                .message-content {
                    .txt {
                        font-size: 1rem;
                        padding: 4px 14px;
                        background-color: $clr6;
                        border-radius: 14px 14px 14px 0;
                    }
                }
            }

            .txt {
                font-size: 1.3rem;

            }

            img {
                grid-row: span 2;
                height: 30px;
                width: 30px;
                border-radius: 100%;
            }

            .date {
                font-size: 1.1rem;
                color: grey;
            }
        }
    }



    .btn-close {
        position: absolute;
        top: 2px;
        right: 2px;
        border: none;
        font-size: 1.2rem;
        color: $clr5;
        background-color: transparent;
        cursor: pointer;

        &:hover {
            background-color: lightgray;

        }
    }

}

form {
    height: 65px;
    width: 100%;
    border-top: 1px solid grey;
    padding-top: 7px;

    .input-container {
        position: relative;

        input {
            background-color: $clr1;
            border: 1px solid lightgray;
            border-radius: 10px;
            height: 40px;
            width: 270px;
            font-size: 1.1rem;
        }

        .btn-send {
            .send-icon {
                color: $clr5;
                font-size: 1.3rem;
            }

            border: none;
            border-radius: 15px;
            background-color: transparent;
            cursor: pointer;

            &:hover {
                background-color: lightgray;

            }
        }
    }
}

@media (max-width: 376px) {
    .chat-container {
        width: 100%;
        right: 0;
        height: 100%;
        justify-content: flex-end;
        .msgs-container {
            height: 90vh;
            margin-top: 0;
        }
    }


}