.chat-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 220px;
    position: fixed;
    z-index: 4;
    background-color: #f9fefc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;

    
}
.msgs-container{
    width: 100%;
    
} 

.user{
    background-color: burlywood;
}
.btn-close{
    position: absolute;
    top: 2px;
    right: 2px;
}
.input-container{
    position: absolute;
    left: 2px;
    bottom: 2px; 
}
       
//  .modal-screen {
//     z-index: 3;
//     background-color: rgb(26, 96, 167);
//     height: 100%;
//     width: 100%;

//  }

