.hero-container{
    position: relative;
    
}

.hero-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.hero-logo{
    width: 35%;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%,-50%)
}