.login-modal {
   width: 250px;
   height: 220px;
   position: fixed;
   right: 1px;
   z-index: 4;
   background-color: rgb(226, 236, 247);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 8px;
   border: 1px solid grey;

}

.modal-screen {
   z-index: 3;
   background-color: rgb(26, 96, 167);
   height: 100%;
   width: 100%;

}

//  .login-modal {
//     width: 250px;
//     height: 220px;
//     position: fixed;
//     right: 1px;
//     z-index: 4;
//     background-color: $clr2;
//     border-radius: 8px;
//     border: 1px solid grey;
//    form{
//       position: relative;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       justify-content: center;
//    }
//  }

 
