.login-modal {
    width: 250px;
    height: 220px;
    position: fixed;
    right: 10px;
    z-index: 4;
    background-color: #fcfcfcee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #1dbf73;
    

 }

 .modal-screen {
    z-index: 3;
    background-color: rgb(26, 96, 167);
    height: 100%;
    width: 100%;

 }

