.main-nav {
    display: flex;
    width: 100%;
    height: $navHeight;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background-color: transparent;
    z-index: 3;


    a {
        font-family: roboto, sans-serif;
        text-decoration: none;
        color: rgb(245, 243, 243);
        font-weight: 800;
        margin: 5px;
    }

    .left-nav {
        margin-left: 5px;
        display: flex;
        align-items: center;
    }

    .nav-btn {
        padding: 10px 10px;
        font-size: 1.2rem;
        font-weight: 100;
        
    }

}

.hamburger-mobile-btn {
    display: none;
    
}

.shop-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    top: 10px;
}

.main-nav-not-home {
    display: flex;
    width: 100%;
    height: $navHeight;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: rgb(255, 255, 255);
    z-index: 3;

    a {
        font-family: roboto, sans-serif;
        text-decoration: none;
        color: rgb(88, 88, 88);
        font-weight: 800;
        margin: 0;
    }

    .left-nav {
        margin-left: 5px;
        display: flex;
        align-items: center;

    }
    

    .nav-btn {
        padding: 10px 10px;
        font-size: 1.2rem;
        font-weight: 100;
    }
}

.right-nav{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

// .shop-btn{
//     &:hover{
//         background-color: lightgrey;
//         border-radius: 40px;
//     }
// }



.login-btn {
    padding: 10px;
    background-color: #fff;
    border: 1px solid rgb(42, 170, 42);
    cursor: pointer;
    font-family: roboto, sans-serif;
    font-weight: 800;
    color: rgb(42, 170, 42);
    border-radius: 5px;

}

.logout-btn {
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
    font-family: roboto, sans-serif;
    font-weight: 800;
    // color: rgb(209, 62, 82);
    color: rgb(88, 88, 88);
    border-radius: 5px;
}

.logo-up {
    width: 60px;
    height: 60px;
}

.nav-btn.chats-btn{
    
    color: #33aced;
    display: inline;
    font-size: 1.8rem;
    :hover{
        cursor: pointer;
    }
    .unread-msgs-count{
        right: 15px;
        position: absolute;
        display: inline;
        color: white;
        background-color: red;
        border-radius: 100%;
        font-size: 0.8rem;
        padding: 3px;

    }
}

@media (max-width: 376px) {
    .main-nav-not-home {
        background-color: #fff;
        top: 0;
        transition: transform .8s;

        .nav-btn {
            font-size: 0.9rem;
            margin-left: 3px;
        }

        .shop-btn {
            padding: 5px;
            margin-right: 20px;
            border: 1px solid lightgray;
        }

        .chats-btn {
            margin-right: 2px;
            margin-top: 2px;
        }

        .shop-img {
            display: none;
        }
    }
        



}