.main-nav {
    display: flex;
    width: 100%;
    height: $navHeight;
    justify-content: space-between;
    align-items: center;
    background-color: $clr2;
    box-shadow: 0 4px 2px -2px gray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    z-index: 3;

    a {
        font-family: roboto, sans-serif;
        text-decoration: none;
        color: rgb(46, 46, 46);
        font-weight: 800;
        margin: 5px;
    }

    .left-nav {
        margin-left: 5px;
        display: flex;
        align-items: center;

    }
    .nav-btn{
        padding: 10px 10px;
        font-size: 2rem;
        font-weight: 100;

    }
    .nav-btn:hover{ 
        background-color: $clr1;
    }
}

.login-btn {
    padding: 10px;
    background-color: #fff;
    border: 1px solid rgb(42, 170, 42);
    cursor: pointer;
    font-family: roboto, sans-serif;
    font-weight: 800;
    color: rgb(42, 170, 42);
    border-radius: 5px;

}

.logout-btn {
    padding: 10px;
    background-color: #fff;
    border: 1px solid rgb(209, 62, 82);
    cursor: pointer;
    font-family: roboto, sans-serif;
    font-weight: 800;
    color: rgb(209, 62, 82);
    border-radius: 5px;
}

.logo-up {
    width: 60px;
    height: 60px;
}