.order-list {
    
    margin-top: 20px;

    .order-loading {
        max-width: 30em;
        max-height: 40em;
    }

    .doubleAccept{
        position: absolute;
        right:2.5%;
        top:40%;
        width:30%;
        height:30vh;
        font-size: 2.5rem;
        background-color: teal;
        border: solid 3px lightgrey;

    }

}

.order-preview {
    padding: 5px;
    border: solid 1px lightgrey;

    button {
        margin: 5px;
        border-radius: 30px;
    }

    p {
        margin: 10px;
    }

    &.accepted {
        background-color: rgba(159, 255, 159, 0.199);
    }

    &.denied {
        background-color: rgba(252, 138, 138, 0.281);
    }
}