.order-list-box {
    width: 250px;
    height: 70px;
}

.order-list {
    display: flex;
    flex-wrap: wrap;
    // margin: 20px 130px 0 0;

    .order-loading {
        max-width: 30em;
        max-height: 40em;
    }

    .doubleAccept {
        position: absolute;
        right: 2.5%;
        top: 40%;
        width: 30%;
        height: 20vh;
        font-size: 1.5rem;
        background-color: rgb(172, 252, 252);
        border: solid 1px lightgrey;


    }

}

.order-preview {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: center;


    .order-preview-details {
        margin-right: 20px;
    }

    button {
        margin: 5px;
        border-radius: 30px;
    }

    p {
        font-size: 1.1rem;
        color: black;
        cursor: pointer;
    }

    span {
        color: rgb(194, 194, 194);
    }

    &.accepted {
        background-color: rgba(182, 252, 182, 0.199);
        border-radius: 10px;
        padding: 5px;
        background-color: rgb(172, 236, 159);
    }

    &.denied {
        background-color: rgba(248, 168, 168, 0.281);
        border-radius: 10px;
        padding: 5px;
        background-color: rgb(247, 173, 170);
    }

    &.modal-order-preview{
        border: solid 1px  rgba(63, 58, 58, 0.5);
        border-radius: 10px;
        margin: 0;
        padding: 10px;
        &:hover{box-shadow: inset 0px 0px 8px rgba(63, 58, 58, 0.5);}
    }
}

a {
    text-decoration: none;
}

.order-actions-btns-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.order-btn:focus {
    outline: none;
}

.accept-order-btn {
    background-color: #fff;
    border: 1px solid rgb(39, 170, 39);
    color: rgb(39, 170, 39);
    padding: 6px 10px;
    font-family: montserrat, sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

.reject-order-btn {
    background-color: #fff;
    border: 1px solid rgb(209, 54, 54);
    color: rgb(209, 54, 54);
    padding: 6px 10px;
    font-family: montserrat, sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

.pending-order-btn {
    background-color: #fff;
    border: 1px solid rgb(255, 196, 0);
    color: rgb(255, 196, 0);
    padding: 6px 10px;
    font-family: montserrat, sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

.remove-order-btn {
    background-color: #fff;
    // border: 1px solid rgb(128, 115, 252);
    // color: rgb(128, 115, 252);
    padding: 6px 10px;
    font-family: montserrat, sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

.order-data-btn{
    background-color: #fff;
    border: 1px solid rgb(0, 172, 237);
    color: rgb(0, 172, 237);
    padding: 6px 10px;
    font-family: montserrat, sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

@media (max-width: 375px) {
    .order-list-box {
        width: 100%;
    }

    .modal-order-preview {
        width: 100%;

        .order-preview-details {
            margin: 0;
        }
    }

    .order-actions-btns-box {
        flex-wrap: wrap;
    }

    .contact-user-actions-btns {
        display: flex;
        justify-content: center;
    }




}