.pet-details-main-container {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #fff;
    padding: 0 20px;
}

.pet-details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.actions-box-edit {
    width: 220px;
    min-height: 120px;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    flex-grow: 2;
    position: fixed;
    right: 120px;
    top: 170px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;


    .edit-btn {
        width: 100%;
        padding: 10px;
        background-color: #fff;
        border: 1px solid rgb(42, 170, 42);
        cursor: pointer;
        font-family: roboto, sans-serif;
        font-weight: 800;
        color: rgb(42, 170, 42);
        border-radius: 5px;

    }

    .edit-btn:focus {
        outline: none;
    }

    .edit-btn:hover {
        border: 1px solid rgb(74, 134, 74);
    }

    .remove-btn {
        margin-top: 25px;
        padding: 10px;
        background-color: #fff;
        border: 1px solid rgb(209, 62, 82);
        cursor: pointer;
        font-family: roboto, sans-serif;
        font-weight: 800;
        color: rgb(209, 62, 82);
        border-radius: 5px;
    }

    .remove-btn:focus {
        outline: none;
    }

    .remove-btn:hover {
        border: 1px solid rgb(119, 3, 19);
    }
}

.actions-box-adopt {
    width: 220px;
    min-height: 250px;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    flex-grow: 2;
    position: fixed;
    right: 120px;
    top: 170px;
    display: flex;
    flex-direction: column;

    h3 {
        text-align: center;
        font-size: 25px;
    }

    p {
        margin: 15px;
    }
}

.pet-details-box {
    width: 100%;
}

.ribbon-details {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    z-index: 4;
}

// .ribbon-details::before,
// .ribbon-details::after {
//     position: absolute;
//     z-index: -1;
//     content: '';
//     display: block;
//     border: 3px solid #1092d3;
// }

.ribbon-details span {
    position: absolute;
    display: block;
    width: 165px;
    padding: 5px 0;
    background-color: #1092d3;
    text-align: center;
    font-family: montserrat, sans-serif;
    font-weight: 800;
    color: rgb(215, 230, 215);
}

.ribbon-top {
    top: 30px;
    left: 20px;
}

.ribbon-top::before,
.ribbon-top::after {
    border-top-color: transparent;
    border-right-color: transparent;
}

// .ribbon-top::before {
//     top: 0;
//     left: 0;
// }

// .ribbon-top::after {
//     bottom: 0;
//     right: 0;
// }

.ribbon-top span {
    left: -30px;
    top: 60px;
}

.pet-details-img-box {
    display: grid;
    height: 60vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 50%);
    grid-gap: 10px;
}

.pet-details-img-0 {
    border-radius: 15px 0 0 15px;
    width: 100%;
    height: 100%;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    object-fit: cover;

}

.pet-details-img-1 {
    width: 100%;
    height: 100%;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    object-fit: cover;
    border-radius: 2px;

}

.pet-details-img-2 {
    height: 100%;
    width: 100%;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    object-fit: cover;
    border-radius: 0 15px 0 0;

}

.pet-details-img-3 {
    height: 100%;
    width: 100%;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    object-fit: cover;

}

.pet-details-img-4 {
    height: 100%;
    width: 100%;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    object-fit: cover;
    border-radius: 0 0 15px 0;

}

.tags-and-adopt-btn-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.share-box {
    font-family: roboto, sans-serif;
    text-align: center;

    .share-heading {
        color: rgb(73, 73, 73);
        margin: 0;
    }

    button {
        margin: 5px;
    }
}

.adoption-btn {
    font-family: montserrat, sans-serif;
    width: 180px;
    height: 70px;
    background-color: #ffbf00;
    cursor: pointer;
    border-radius: 15px;
    font-size: 22px;
    color: #f6f9ff;
    border: none;
    margin-right: 50px;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover {
        color: #667dff;
    }


}

.adopted {
    background-color: #a19c8c;
    &:hover {
        color: #bbbbbb;
    }

}

.adoption-btn:focus {
    outline: none;
}

.tags-list-box {
    display: inline-block;
    border-radius: 15px;
    background-color: #fff;
    width: 50%;
    margin: 15px 0;
    font-family: roboto, sans-serif;
    color: #717171;


}

.tags-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;



    li {
        background-color: #f6f6f6;
        border-radius: 20px;
        padding: 10px;
        margin: 0 10px 15px 0;
        font-family: montserrat, sans-serif;

    }

}

.shop-and-pet-info {
    display: flex;
    justify-content: space-between;
}

.pet-info {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-top: 20px;

    .info-icon {
        font-size: 1.7rem;
        color: rgb(63, 63, 63);

    }

    .info-box {
        margin-bottom: 5px;
    }


    span {
        font-family: roboto, sans-serif;
    }

    p {
        font-family: montserrat, sans-serif;
    }

    .pet-info-up {
        display: flex;
        flex-direction: column;

        justify-content: space-between;
    }

    .pet-info-down {
        display: flex;
        flex-direction: column;

        justify-content: space-between;
    }
}

.shop-details {
    background-color: #fff;
    width: 300px;
    height: 160px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;

    .shop-details-up {
        display: flex;
        align-items: center;
    }

    .shop-img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50px;
    }

    a {
        text-decoration: none;
        margin-left: 15px;
    }

    p {
        text-decoration: none;
        font-family: montserrat, sans-serif;
        color: #717171;
        font-size: 1.6rem;
        font-weight: 500;
    }


    .shop-details-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .shop-rate-box {

        display: flex;
        justify-content: space-around;

        .shop-rate-rating {

            color: #ffbf00;
            font-size: 14px;
            padding: 3px;
            font-family: montserrat, sans-serif;
            border-radius: 50%;
            font-weight: 900;

        }

        .star-icon {
            color: #ffbf00;
            margin: 19px 0 0;
        }

        .shop-rate-count {
            font-size: 13px;
            margin: 18px 3px 0 0;
            color: rgb(192, 192, 192);
        }
    }

    button {
        cursor: pointer;
        color: rgb(255, 255, 255);
        padding: 10px;
        border-radius: 10px;
        background-color: rgb(0, 172, 237);
        border: none;
        font-family: roboto, sans-serif;
        font-weight: 500;

    }



}

.description-box {
    width: 50%;
    background-color: #fff;
    border-radius: 15px;
    font-family: roboto, sans-serif;
    line-height: 1.8;



}

.reactions-list {
    display: flex;
    margin: 10px 0;
    padding: 0;

    li:not(:first-child) {
        margin: 0 5px;

    }

    .react-count {
        font-size: 1.3rem;
    }


    //icons

    .heart-icon {
        color: #ffbf00;
        font-size: 1.5rem;
        cursor: pointer;
        margin: 10px 0 0 0;

    }

    .bone-icon {
        color: rgb(252, 216, 17);
        cursor: pointer;
    }

    .hand-sparkles-icon {
        color: lightskyblue;
        cursor: pointer;
    }
}

//comments

.comment-input-box {
    margin-top: 40px;
    width: 30%;
    display: flex;

    .add-comment-btn {
        padding: 10px 10px;
        background-color: rgb(0, 172, 237);
        cursor: pointer;
        border-radius: 15px;
        font-size: 1rem;
        color: #fafafa;
        border: none;
        margin-left: 15px;

        &:hover {
            color: #f5f5f5;
        }
    }
}

.comment-list {
    padding: 0;
}

.single-comment-box {
    width: 500px;
    margin: 15px 0;

    p {
        margin: 0 1px;
    }
}

.comment-box {

    justify-content: flex-start;
    align-items: center;
    margin: 15px 0;

    img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin-right: 10px;
    }
}



ul {
    list-style-type: none;
}

span {
    color: #343434;
    font-size: rem(50px);
}

p {
    color: #717171;
    font-size: 1.1rem
}

h2 {
    color: #222325;
    font-size: 1.6rem;
    font-family: montserrat, sans-serif;
}

hr {
    width: 60%;
    border: none;
    border-top: 1px solid rgb(218, 216, 216);

}

@media (max-width: 376px) {

    .pet-details-main-container {
        width: 375px;
    }

    .pet-details-img-box {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 50%);
        grid-gap: 10px;
    }

    .pet-details-img-0 {
        border-radius: 15px 15px 0 0;
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .pet-details-img-1 {
        border-radius: 0 0 0 15px ;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .pet-details-img-2 {
        border-radius: 0 0 15px 0;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .pet-details-img-3 {
        display: none;
    }

    .pet-details-img-4 {
        display: none;
    }

    .description-box {
        width: 100%;
    }

    .adoption-btn {

        margin-right: 0;
    }

    .single-comment-box {
        width: 100%;
    }

    .shop-and-pet-info {
        flex-direction: column;


    }

    .comment-input-box {
        width: 100%;
    }
    
}