.pet-list-container {

    .popular-pets-header {
        font-size: 1.5rem;
        font-family: montserrat, sans-serif;
        width: 200px;
        margin: 10px auto;
        border-bottom: 1px solid rgb(134, 134, 134);
        padding: 10px;
        text-align: center;
    }

    padding: 0 100px;

    @keyframes slideInFromLeft {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(0);
        }
    }

    animation: 0.4s ease-in-out 0s 1 slideInFromLeft;

    .pet-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 376px) {
    .pet-list-container {
        padding: 0;
        margin-left: 0;

        .popular-pets-header {
            font-size: 1.2rem;
            margin: 10px auto;

        }
    }

    .bottom-screen-box {
        flex-direction: column;
    }

    .pet-list {
        margin: 0;
        padding: 0;
        justify-content: center;
    }
}