.pet-details-main-container {
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.actions-box-edit {
    width: 220px;
    min-height: 120px;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    flex-grow: 2;
    position: fixed;
    right: 120px;
    top: 170px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    
    .edit-btn {
        width: 100%;
        padding: 10px;
        background-color: #fff;
        border: 1px solid rgb(42, 170, 42);
        cursor: pointer;
        font-family: roboto, sans-serif;
        font-weight: 800;
        color: rgb(42, 170, 42);
        border-radius: 5px;    

    }

    .edit-btn:focus {
        outline: none;
    }

    .edit-btn:hover {
        border: 1px solid rgb(74, 134, 74);
    }

    .remove-btn {
        margin-top: 25px;
        padding: 10px;
        background-color: #fff;
        border: 1px solid rgb(209, 62, 82);
        cursor: pointer;
        font-family: roboto, sans-serif;
        font-weight: 800;
        color: rgb(209, 62, 82);
        border-radius: 5px;
    }

    .remove-btn:focus {
        outline: none;
    }

    .remove-btn:hover {
        border: 1px solid rgb(119, 3, 19);
    }
}

.actions-box-adopt {
    width: 220px;
    min-height: 250px;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    flex-grow: 2;
    position: fixed;
    right: 120px;
    top: 170px;
    display: flex;
    flex-direction: column;

    h3 {
        text-align: center;
        font-size: 25px;
    }

    p {
        margin: 15px;
    }
}

.pet-details-box {
    width: 95%;
}

.pet-details-img-box {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}

.pet-details-img-0 {

    max-width: 400px;
    height: 400px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    object-fit: cover;
    border-radius: 2px;

}

.pet-details-img-1 {
    width: 100%;
    height: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    object-fit: cover;
    border-radius: 2px;

}

.pet-details-img-2 {
    height: 100%;
    width: 100%;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    object-fit: cover;
    border-radius: 2px;

}

.pet-details-img-3 {
    height: 100%;
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    object-fit: cover;
    border-radius: 2px;

}

.pet-details-img-4 {
    height: 100%;
    width: 100%;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    object-fit: cover;
    border-radius: 2px;

}

.tags-list {
    list-style-type: none;
    display: flex;
    width: 50%;
    flex-wrap: wrap;

    li {
        margin: 10px;
    }
}

.reactions-list {
    display: flex;
    margin: 10px 0;
    padding: 0;
    li:not(:first-child) {
        margin: 0 5px;
        
    }


    //icons

    .heart-icon {
        color: rgb(250, 98, 98);
        cursor: pointer;

    }
    .bone-icon{
        color:rgb(252, 216, 17);
    cursor: pointer;
    }
    .hand-sparkles-icon{
        color: lightskyblue;
        cursor: pointer;
    }
}

ul {
    list-style-type: none;
}

span {
    color: #343434;
    font-size: rem(50px);
}

p {
    color: #717171;
    font-size: 1.1rem
}

h2 {
    color: #222325;
    font-size: 1.6rem;
    font-family: montserrat, sans-serif;
}

hr {
    width: 60%;
    color: rgb(172, 172, 172);
}

.adopt-btn {
    width: 70%;
    padding: 10px 40px;
    background-color: rgb(40, 155, 40);
    cursor: pointer;
    border-radius: 8px;
    font-size: 22px;
    color: #D4D5D7;
    border: none;
    margin: 5px auto;

    &:hover {
        color: #e7e7e7;
    }
}

.adopt-btn:focus {
    outline: none;
}