.tags-modal {
    @include center-modal;
    width: 450px;
    height: 520px;
    position: fixed;
    z-index: 4;
    background-color:$clr2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;

 }

//  .modal-screen {
//     z-index: 3;
//     background-color: rgb(26, 96, 167);
//     height: 100%;
//     width: 100%;

//  }

