.user-profile-box {
    width: 960px;
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
    background-color: #fff;
    padding: 0 20px;

    p {
        font-size: 20px;
    }
}

.user-data-box {
    margin: 0 auto;
    width: 900px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    grid-gap: 30px; 
    border-bottom: solid 3px rgb(236, 224, 224);

    > img {
        grid-column: 1;
        max-width: 300px;
        max-height: 270px;
        min-height: 240px;
        border-radius: 20%;
    }
    > div {
        grid-column: 2;
    }
}
